.App {
  text-align: center;
}

.OperationItem {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
}

.TimeTag {
  width: 2px;
  height: 40px;
  background: aliceblue;
  position:relative;
  top:-5px;
}

.OperationItemBody {
  width: 100px;
  height: 30px;
  background: #EC7743;
}

.bedInfo {
  width: 60px;
  border: none;
  color: #D9F0F6;
  background: #282c34;
  z-index: 2;
  position:sticky;
  left:0;
}

.timePoint {
  height: 8px;
  width: 8px;
  background: #D9F0F6;
  border-radius: 50%;
  position: absolute;
  left: -4px;
  bottom: -4px;
}

.timeTag {
  transform: rotate(-30deg);
  position: absolute;
  left: -4px;
  bottom: 0;
  z-index: 3;
}

.quarterCell {
  width: 45px;
  border:1px solid gray;
}

.scheduleHeader {
  background: #282c34;
  border: solid gray;
  border-width: 1px 0 1px 0;
  color: #D9F0F6;
  height: 50px;
  z-index: 2;
}

.spaceRow {
  background: #282c34;
  height: 30px;
}

.dataRow {
  background: #282c34;
  height: 30px;
}

.BedScheduleTd {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: -1px;
}

.OperationSchedule{
  overflow:auto;
  width:1200px;
  height:500px;
  margin: 30px;

}

.stickyRow {
  position:sticky;
  top:0;
}
